<section class="brands ml-[100px] mr-[100px] mt-[160px] mb-[160px]">
  <article class="brands__article flex flex-col">
    <div class="infoplace">
       <b><p class="infoplace_upside_tittle flex items-center " > <span class=" h-[2px] w-[35px] mr-[20px] bg-[#FF8C6D] block"></span> EXPLORE OUR BRANDS </p> </b>     
       <b><p class="smallinfo" >Importing companies in <br> different directions.</p></b>
       <p class="description" >THC LTD represents an extensive array of companies and <br> brands.  Just the food segment alone includes up to 500 <br> different products.</p>
      <app-button type="blues"  style="margin-top: 20px;">Discover More</app-button> 
    </div>
  </article>

  <div class="brands__wrapper">
    <div class="brands__wrapper__block">
      <div class="brands__wrapper__block__wrapper">
        <img
          src="/assets/images/schirnhoferlogo.png"
          class="brands__wrapper__block__wrapper--image"
        />
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
      </div>
    </div>
   <div class="brands__wrapper__block">
      <div class="brands__wrapper__block__wrapper">
        <img
          src="/assets/images/schirnhoferlogo.png"
          class="brands__wrapper__block__wrapper--image"
        />
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
      </div>
    </div>
   <div class="brands__wrapper__block">
      <div class="brands__wrapper__block__wrapper">
        <img
          src="/assets/images/schirnhoferlogo.png"
          class="brands__wrapper__block__wrapper--image"
        />
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
      </div>
    </div>
   <div class="brands__wrapper__block">
      <div class="brands__wrapper__block__wrapper">
        <img
          src="/assets/images/schirnhoferlogo.png"
          class="brands__wrapper__block__wrapper--image"
        />
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
      </div>
    </div>
   <div class="brands__wrapper__block">
      <div class="brands__wrapper__block__wrapper">
        <img
          src="/assets/images/schirnhoferlogo.png"
          class="brands__wrapper__block__wrapper--image"
        />
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
      </div>
    </div>
   <div class="brands__wrapper__block">
      <div class="brands__wrapper__block__wrapper">
        <img
          src="/assets/images/schirnhoferlogo.png"
          class="brands__wrapper__block__wrapper--image"
        />
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
      </div>
    </div>
   <div class="brands__wrapper__block">
      <div class="brands__wrapper__block__wrapper">
        <img
          src="/assets/images/schirnhoferlogo.png"
          class="brands__wrapper__block__wrapper--image"
        />
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
      </div>
    </div>
   <div class="brands__wrapper__block">
      <div class="brands__wrapper__block__wrapper">
        <img
          src="/assets/images/schirnhoferlogo.png"
          class="brands__wrapper__block__wrapper--image"
        />
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
        <span
          class="brands__wrapper__block__wrapper--dot "
        ></span>
      </div>
    </div>
  </div>
</section>


