<section class="news ml-[100px] mt-[160px] mb-[260px] mr-[100px]">
  <div class="news__title">
    <h1
      class="news__title__header flex items-center uppercase font-semibold tracking-[9.6px] text-[16px]"
    >
      <span
        class="news__title__header__line bg-[#FF8C6D] w-[53px] h-[2px] block mr-[20px]"
      ></span
      >{{ pageData?.sectionTitle }}
    </h1>
    <p
      class="news__title__text text-[32px] text-[#28272C] font-semibold mt-[15px] mb-[45px]"
    >
      {{ pageData?.title }}
    </p>
  </div>
  <section class="news__wrapper">
    <div
      class="news__wrapper__component"
      *ngFor="let item of pageData?.newsPageData"
    >
      <div class="news__wrapper__component__wrapper relative">
        <img
          [src]="item.image"
          alt=""
          class="news__wrapper__component__wrapper--image"
        />
      </div>
      <article class="news__wrapper__component__article">
        <span class="news__wrapper__component__article--time">{{
          item.date
        }}</span>
        <a href="" class="news__wrapper__component__article--header">{{
          item.capTitle
        }}</a>
        <p class="news__wrapper__component__article--text">
          {{ item.description }}
        </p>

        <a href="" class="news__wrapper__component__article--show"
          >{{ item.readMore }}
          <span class="news__wrapper__component__article--show--line"></span
        ></a>
      </article>
      <article
        class="news__wrapper__component__article link"
        *ngFor="let item of pageData?.readMore"
      >
        <span class="news__wrapper__component__article--time">{{
          item.date
        }}</span>
        <a href="" class="news__wrapper__component__article--header">{{
          item.capTitle
        }}</a>
        <a href="" class="news__wrapper__component__article--text"
          >{{ item.description }}.</a
        >
      </article>
    </div>
  </section>
</section>
