<section class="mainheader bg-white">
    <div class="desktop-version flex items-center gap-2">
        <div class="logo">
            <span class="rounded-sm w-12 title">Tbilisi Holding <br> Company</span>
        </div>

        <div class="relative">
            <div
                class="relative w-fit px-4 py-2 border border-1 border-neutral-400 rounded-md flex justify-center items-center cursor-pointer">
                <div class="mr-2">
                    The Selected Value
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                    </svg>
                </div>
            </div>
            <div class="absolute w-fit py-1 mt-2 border border-1 border-neutral-400 rounded-md cursor-pointer">
                <div class="py-2 px-4 w-full hover:bg-neutral-100">
                    Item 1
                </div>
                <div class="py-2 px-4 w-full hover:bg-neutral-100">
                    Item 2
                </div>
                <div class="py-2 px-4 w-full hover:bg-neutral-100">
                    Item 3
                </div>
                <div class="py-2 px-4 w-full hover:bg-neutral-100">
                    Item 4
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-version">

    </div>
</section>