<section >
     <div class="imageplace">
        <img class="mainimage" src="assets/images/background.png" >
     </div>
     <div class="info">
        <b><p class="whoweare"><img class="line" src="assets/images/Rectangle.png" >WHO WE ARE</p></b>
        <b><p class="smallinfo">The head office of Tbilisi Holding Company  is located in Tbilisi (Georgia).</p></b>
        <p class="about">Since its founding in 1994, the company has found continuous success   operating in various business segments such as wholesale and retail,  the import and distribution of food products, toys, and tableware, a supermarket chain, food manufacturing and real estate rental.</p>
     </div>
</section>
<b><p class="downsidetext ">THC LTD represents an extensive array of companies and brands.Just the food segment alone includes up to 500 different products.</p></b>
