<div class="main">
  <div class="background_logoiamge_mobile">
    <div class="bgcolor"></div>
    <img class="background_mobile" src="assets/images/background.png" />
  </div>
  <div class="background_logoiamge">
    <div class="background_logoiamge">
      <img
        class="background_logoiamge_background-orange"
        src="assets/images/background-orange.png"
      />
    </div>
    <div class="background_logoiamge_image">
      <img class="background" src="assets/images/background.png" />
    </div>
  </div>
  <div class="info">
    <p
      class="info_tittle font-semibold uppercase flex items-center tracking-[9.6px]"
    >
      <span
        class="stracture__wrapper__left__hedline--line h-[2px] w-[53px] mr-[20px] bg-[#FF8C6D] block"
      ></span>
      food import
    </p>
    <h2
      class="info_tittle_subtittle max-w-[704px] font-bold text-[#28272C] text-[32px] mt-[24px] mb-[24px]"
    >
      Schirnhofer
    </h2>
    <p class="info_tittle_text max-w-[633px] text-[18px] text-[#27262bb3]">
      Since its founding in 1994, the company has found continuous success
      operating in various business segments such as wholesale and retail, the
      import and distribution of food products, toys, and tableware, supermarket
      chain, food manufacturing and real estate rental.
    </p>
  </div>
</div>

<p class="downsidetext font-bold">
  THC LTD represents an extensive array of companies and brands.Just the food
  segment alone includes up to 500 different products.
</p>
