
.button{
    text-transform: capitalize;
    color:#fff;
     padding:13px 40px ;
     font-size: 13px;

&--orange{
    
    background-color: #FF8C6D;
}
&--blue{
        background-color: #5765FD;
    }
}

@media (max-width:600px) {
    .button--orange{
        padding: 11px 40px;
        font-size: 14px;
    }
}


    
    
    