@media (max-width:375px){

    .first{
        font-size: 14px;
        padding: 11px 40px;
    }
     .second{
        padding: 13.5px 127.5px;
    }
}




.first{
    text-transform: capitalize;
    font-size: 13px;
    padding:13px 40px ;
    background-color: #FF8C6D;
    color:#fff;
    }


    
    .second{
        text-transform: capitalize;
        font-size: 14px;
        padding: 13.5px 32px;
        background-color: #5765FD;
        color:#fff;
    
    }
    