.main {
  &--left-side {
    background-color: #5765fd;
    height: 800px;
    &--title {
      &--main-top {
        height: 800px;
        gap: 26px;
        &--contact {
          gap: 52px;
          &--desc {
            width: 95%;
            span {
              font-size: 17px;
              line-height: 32px;
              line-height: 160%;
              color: #fffffd;
            }
          }
          &--bottom {
            font-size: 32px;
            line-height: 42px;
            font-weight: bold;
            color: #fffffd;
            .conatct-us {
              letter-spacing: 1px;
            }
          }
        }

        &--top {
          gap: 20px;
        }
        img {
          width: 53px;
          height: 2px;
          background-color: #ff8c6d;
        }
        .touch-span {
          font-family: prompt;
          font-size: 16px;
          line-height: 26px;
          line-height: 160%;
          letter-spacing: 10px;
          color: #fffffd;
          font-weight: bold;
        }
      }
    }
  }
  &--right-side {
    &--inputs {
      width: 77%;
      margin-top: -48px;
      gap: 20px;
      &--button {
        width: 100%;
        display: flex;
        justify-content: end;
      }
      &--first-inputs,
      &--second-inputs {
        flex-wrap: wrap;
      }
      &--button {
        &.desk {
          display: flex;
        }
        &.mob {
          display: none;
        }
      }
    }
    .example-container mat-form-field + mat-form-field {
      margin-left: 8px;
    }

    .example-container[textarea] {
      width: 100%;
      .mat-form-field {
        width: 100%;
        textarea {
          height: 100px;
          resize: none;
        }
      }
    }
  }
}
.image {
  img {
    width: 100%;
    height: 850px;
    object-fit: cover;
  }
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 2.25em;
}
.example-container {
  flex: 1;
  min-width: 200px;
  .mat-form-field {
    width: 100%;
    min-width: 200px;
  }
}

@media screen and (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    &--left-side {
      width: 100%;
      height: 250px;
      &--title {
        &--main-top {
          display: flex;
          align-items: start;
          justify-content: center;
          height: 275px;
          flex-direction: column;
          width: 90%;
          margin: auto;
          gap: 12px;
          &--contact {
            display: flex;
            flex-direction: column;
            gap: 16px;
          }
        }
      }
    }
    &--right-side {
      margin-top: 25px;
      margin-bottom: 25px;
      width: 100%;
      gap: 5px;
      &--inputs {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 89%;
        margin-top: unset;
        &--first-inputs,
        &--second-inputs {
          gap: 5px;
          flex-direction: column;
        }
      }
    }
  }

  .image {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 660px) {
  .main {
    &--left-side {
      height: 215px;
      &--title {
        &--main-top {
          margin: 0px 20px !important;
          width: 95% !important;
          height: 230px;
          &--contact {
            &--desc {
              .contact-span {
                font-size: 14px;
              }
            }
            &--bottom {
              span {
                font-size: 24px;
                line-height: 130%;
                font-weight: bold;
              }
            }
          }
          &--top {
            gap: 8px;
            img {
              width: 20px;
              height: 1px;
              background-color: #ff8c6d;
            }
            .touch-span {
              font-size: 12px;
              font-weight: bold;
              line-height: 160%;
              letter-spacing: 7px;
            }
          }
        }
      }
    }
    &--right-side {
      margin-top: 25px;
      margin-bottom: 25px;
      width: 100%;
      gap: 5px;
      &--inputs {
        gap: 5px;
        &--first-inputs,
        &--second-inputs {
          gap: 5px;
        }

        .example-container[textarea] {
          .mat-form-field {
            textarea {
              height: 60px;
              resize: none;
            }
          }
        }

        &--button {
          display: flex;
          justify-content: center;
          align-items: center;
          &.desk {
            display: none;
          }
          &.mob {
            display: flex;
          }
        }
      }
    }
  }
  .image {
    margin-bottom: 150px;
    img {
      height: 375px;
    }
  }
}
