.main-header {
  .mobile-version {
    display: none;
  }




  .mobile-menu {
    display: none;
  }

  @media screen and (max-width: 1120px) {
    .px-24 {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (max-width: 990px) {
      .cdk-overlay-container{
          width: 100%;
          }

    .desktop-version {
      display: none;
    }
  
    .mobile-version {
      display: flex;
     
      button {
        background: #5765fd;

        span {
          color: #fff;
          font-size: 20px;
        }
      }

   
          &__mobile-menu {
        display: flex;
      }

      &__mobile-btn {
        background: #5765fd;
        color: #fff;
        width: 90%;
      }

      &__menu-bar {
        font-family: 'Prompt';
        overflow: hidden;

        &__ind {
          font-weight: bold;
          font-size: 17px;
        }
      }
    }

    .close-btn {
      padding: 10px 14px 6px;
    }
  }
}
.mat-dialog-container {
    max-width: none !important;
     max-width: none;
  width: 100vw;
}
.mdc-dialog__content{
  padding: 0px;
color: #28272C;
}
.mat-mdc-raised-button{
border-radius: 0;
height: 40px;
min-width: 50px;
box-shadow: none;
}