:host {
  margin-bottom: 8.35vw;
}
.background_logoiamge_mobile {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: right;
  display: none;
}
.bgcolor {
  position: absolute;
  width: 60%;
  height: 100%;
  left: -16px;
  background-color: #ff8c6d;
  z-index: -1;
}
.background_mobile {
  margin: 33px 0;
}
.background-gray {
  background-color: #f9f9f8;
  min-width: 70%;
  height: 60vw;
  display: flex;
  justify-content: center;
  margin: 22px 0;
  align-items: center;
  margin-left: 60px;
}
.mbicon {
  height: 49.56px;
}
.content {
  display: flex;
  flex-direction: column;
}
.downsidesection {
  display: flex;
  flex-direction: row;
  margin: 4.17vw 35.42vw auto 31.667vw;
  max-width: 567px;
  justify-content: space-between;
}
.background_logoiamge_background-orange {
  width: 30.6vw;
  height: 56.9vw;
  position: absolute;
  top: 0;
  left: 0;
}
.upside {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4.22vw 12.8125% auto 16.6145833333%;
  justify-content: space-between;
}
downsidesection__wrapper {
  display: flex;
  flex-direction: row;
}
.schlogoo {
  background-color: #f9f9f8;
  padding: 9.8959vw 5.208vw;
  max-width: 99%;
}
.info {
  margin-left: 4.79166666667%;
}
.background_logoiamge_image {
  position: relative;
}
.downsidesection__wrapper__items__label {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}
.downsidesection__wrapper__items__text {
  font-size: 14px;
  font-weight: 300;
}
.downsidesection__wrapper .downsidesection__wrapper__items:nth-child(2) {
  margin-top: 60px;
}
@media only screen and (max-width: 1440px) {
  .background_logoiamge_background-orange {
    width: 28vw;
    height: 60vw;
  }
  .downsidesection__wrapper__items__text {
    font-size: 14px;
  }
  .info_tittle_subtittle {
    margin: 8px auto 12px auto;
  }
  :host {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .background_logoiamge_background-orange {
    width: 23vw;
    height: 65vw;
  }
}
@media only screen and (max-width: 1050px) {
  .background_logoiamge_background-orange {
    width: 20vw;
    height: 65vw;
  }
}
@media only screen and (max-width: 900px) {
  .upside {
    flex-direction: column-reverse;
    margin: 60px 16px 0px 16px;
  }
  .info {
    margin-left: 0;
  }
  .downsidesection {
    display: flex;
    flex-direction: column;
  }
  .background_logoiamge {
    display: none;
  }
  .background_logoiamge_mobile {
    display: flex;
  }
  .info_tittle_subtittle {
    font-size: 24px;
  }
  .info_tittle_text {
    font-size: 12px;
  }
  .info {
    margin-bottom: 20px;
  }
  .schlogoo {
    margin-top: 33px;
  }
  .background_logoiamge_background-orange {
    top: auto;
  }
  .background_logoiamge {
    width: 291px;
  }
  .downsidesection__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .downsidesection__wrapper .downsidesection__wrapper__items:nth-child(2) {
    margin-top: 0;
  }
  .downsidesection__wrapper__items {
    width: 171.5px;
  }
  .downsidesection {
    width: 343px;
    margin: auto;
  }
}
@media only screen and (max-width: 400px) {
  .downsidesection {
    width: 343px;
    margin: 16px 24px;
  }
}
