section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: space-around;
}
.backgroundcolor-web{
   height:  150%;
   width: 28%;
   background-color: #FF8C6D;
   position: absolute;
   z-index: 3;
   right: 0;
   top: -100px;
}

.downsidetext {
    font-size: small;
}
.title{
    display: flex;
    align-items: center;
}
.whoweare{
    letter-spacing: 8px;
    font-size: medium;
    display: flex;
    align-items: center;
}
.mainimage{
    max-width: 400px;
    position: relative;
    z-index: 5;
}
.info{
    display: flex;
    flex-direction: column;
}
.about{
    font-size: small;
    color: gray;
    align-items: flex-end;
    margin-left: 35px;
}
.smallinfo{
    font-size: x-large;
    margin: 20px 0 20px 0;
}
.line{
    height: 2px;
    width: 30px;
    margin-right: 20px;
}

@media only screen and (max-width: 920px) {
   .smallinfo{
     font-size: medium;
   }
   .about{
     font-size: xx-small;
   }
   .whoweare{
    font-size: x-small;
   }
   .mainimage{
    max-width:300px;
  }
  .downsidetext{
        font-size: 11px ;
     }

}
@media only screen and (max-width: 466px){
    section{
        flex-wrap: wrap-reverse;
        justify-content: start;
    }
    
   .mainimage{
        max-width: 280px;
        margin: 10% 15% 0% 15%;
     }
     .info{
        margin: 3%;
     }
    
     .about{
        margin: 0;
     }
   .downsidetext{
     font-size: xx-small;
     margin-top: 50px !important;
   }
   .backgroundcolor-web{
   height:  65%;
   width: 60%;
   top: 190px;
 
}
// .imageplace{
//    height:  100%;
//    top: 100px;
// }
}

