 <!-- <div class="infomobile">
       
       <div class="title">
        <img class="line" src="assets/images/Rectangle.png" >
        <b><p class="whoweare">WHO WE ARE</p></b>
       </div>
       <div class="aboutcompany">
        <b><p class="smallinfo">The head office of Tbilisi Holding Company <br> is located in Tbilisi (Georgia).</p></b>
        <p class="about">Since its founding in 1994, the company has found continuous success <br> operating in various business segments such as wholesale and retail, <br> the import and distribution of food products, toys, and tableware, a <br> supermarket chain, food manufacturing and real estate rental.</p>
       </div>
</div> -->
<section>
     <div class="imageplace" >
        <div class="backgroundcolor-web"></div>
        <img class="mainimage" src="assets/images/map.png" >
     </div>
     <div class="info">
        <b><p class="whoweare"><img class="line" src="assets/images/Rectangle.png" >WHO WE ARE</p></b>
        <b><p class="smallinfo">The head office of Tbilisi Holding Company <br> is located in Tbilisi (Georgia).</p></b>
        <p class="about">Since its founding in 1994, the company has found continuous success <br> operating in various business segments such as wholesale and retail, <br> the import and distribution of food products, toys, and tableware, a <br> supermarket chain, food manufacturing and real estate rental.</p>
     </div>
    
</section>
<b><p class="downsidetext "style="text-align: center; margin:100px 0 50px 0; ">THC LTD represents an extensive array of companies and brands. Just <br> the food segment alone includes up to 500 different products.</p></b>
