<section class="brands ml-[100px] mr-[100px] mt-[160px] mb-[160px]">
  <article class="brands__article flex flex-col">
    <p
      class="brands__article__headline font-semibold uppercase flex items-center tracking-[9.6px]"
    >
      <span
        class="brands__article__headline__line h-[2px] w-[53px] mr-[20px] bg-[#FF8C6D] block"
      ></span
      >{{ brandsValue?.sectionTitle }}
    </p>
    <h2
      class="brands__article__header font-bold text-[#28272C] text-[32px] mt-[16px] mb-[60px] capitalize"
    >
      {{ brandsValue?.title }}
    </h2>
  </article>

  <div class="brands__wrapper">
    <div class="brands__wrapper__block" *ngFor="let item of brandsValue?.icons">
      <div class="brands__wrapper__block__wrapper">
        <img [src]="item.logo" class="brands__wrapper__block__wrapper--image" />
        <span class="brands__wrapper__block__wrapper--dot"></span>
        <span class="brands__wrapper__block__wrapper--dot"></span>
        <span class="brands__wrapper__block__wrapper--dot"></span>
        <span class="brands__wrapper__block__wrapper--dot"></span>
      </div>
    </div>
  </div>
</section>
