.brands__wrapper {
  flex-wrap: wrap;
  display: flex;
  &__block {
    width: 16.6%;
    // position: relative;
    // width: 282px;
    // height: 282px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    &__wrapper {
      position: relative;
      width: 100%;
      padding-top: 100%;
      &--image {
        position: absolute;
        top: 35%;
        // left: 0;
        // bottom: 0;
        // right: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    &__dot:first-of-type {
      left: -2px;
      top: -2px;
    }
    &__dot:nth-of-type(2) {
      right: -2px;
      top: -2px;
    }
    &__dot:nth-of-type(3) {
      left: -2px;
      bottom: -2px;
    }
    &__dot:nth-of-type(4) {
      right: -2px;
      bottom: -2px;
    }
  }
}

// რესფონსივი

@media (max-width: 1680px) {
  .brands__wrapper__block {
    //  width: 304px;
    //  height: 304px;
    width: 20%;
  }
  .brands {
    margin: 160px 80px 146px 80px;
  }
}

@media (max-width: 1440px) {
  .brands {
    margin: 160px 60px 146px 60px;
  }
  // .brands__wrapper__block {
  //   width: 264px;
  //   height: 264px!important;
  // }
}

@media (max-width: 1366px) {
  .brands__wrapper__block {
    // width: 232px;
    // height: 241.2px!important;
    width: 25%;
  }
}

@media (max-width: 1024px) {
  .brands__wrapper__block {
    // width: 168.1px;
    // height: 168.1px;
    width: 33.33%;
    // height: 229px;
  }
}

@media (max-width: 800px) {
  .brands__wrapper__block {
    // width: 33.3%!important;
    //  width: 340px;
    // height: 320px;
    width: 50% !important;
  }
  .brands__wrapper__block:nth-of-type(n + 7) {
    display: none;
  }
}

@media (max-width: 768px) {
  .brands__wrapper__block {
    //  width: 323.6px;
    // height: 304px;
  }
}

@media (max-width: 600px) {
  .brands {
    margin: 160px 16px 146px 16px;
    &__article {
      &__headline {
        font-size: 12px;
        &__line {
          width: 20px;
          height: 1px;
          margin-right: 8px;
        }
      }
      &__header {
        font-size: 24px;
        margin: 8px 0 24px;
      }
      &__text {
        font-size: 14px;
      }
    }
  }

  .brands__wrapper__block {
    //  width: 284px;
    // height: 284px;
  }
}

@media (max-width: 480px) {
  .brands__wrapper__block {
    // width: 171.5px;
    // height: 171.5px;
  }
}

@media (max-width: 374px) {
  .brands__wrapper__block {
    width: 100% !important;
    // width: 171.5px!important;
    // height: 171.5px;
  }
}
