

    <section class="brandsgallery ml-[100px] mr-[100px] mt-[160px] mb-[160px]">


        <article class="stracture__wrapper__left brandsgallery__article  flex  flex-col">
    <p class="stracture__wrapper__left__headline brandsgallery__article__text font-semibold uppercase flex items-center tracking-[9.6px]"> <span class="stracture__wrapper__left__hedline--line brandsgallery__article__head__line h-[2px] w-[53px] mr-[20px] bg-[#FF8C6D] block"></span>brands  </p>
    <h2 class="stracture__wrapper__left__header brandsgallery__article__header font-bold  text-[#28272C] text-[32px] mt-[16px] mb-[60px] capitalize">industry brands</h2>
</article>
<div class="statistics__right__wrapper brandsgallery__brands">

        <div class="statistics__right__wrapper__block brandsgallery__brands__wrapper "> 
            
                 <img src="/assets/images/logo.png" class="statistics__right__wrapper__block--wrapper--number brandsgallery__brands__wrapper__image" >

               
             
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
             
        </div>
        <div class="statistics__right__wrapper__block brandsgallery__brands__wrapper "> 
            
                 <img src="/assets/images/logo.png" class="statistics__right__wrapper__block--wrapper--number brandsgallery__brands__wrapper__image" >

               
             
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
             
        </div>
                <div class="statistics__right__wrapper__block brandsgallery__brands__wrapper "> 
            
                 <img src="/assets/images/logo.png" class="statistics__right__wrapper__block--wrapper--number brandsgallery__brands__wrapper__image" >

               
             
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
             
        </div>
                <div class="statistics__right__wrapper__block brandsgallery__brands__wrapper "> 
            
                 <img src="/assets/images/logo.png" class="statistics__right__wrapper__block--wrapper--number brandsgallery__brands__wrapper__image" >

               
             
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
             
        </div>
                <div class="statistics__right__wrapper__block brandsgallery__brands__wrapper "> 
            
                 <img src="/assets/images/logo.png" class="statistics__right__wrapper__block--wrapper--number brandsgallery__brands__wrapper__image" >

               
             
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
             
        </div>
                <div class="statistics__right__wrapper__block brandsgallery__brands__wrapper "> 
            
                 <img src="/assets/images/logo.png" class="statistics__right__wrapper__block--wrapper--number brandsgallery__brands__wrapper__image" >

               
             
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
             
        </div>
                <div class="statistics__right__wrapper__block brandsgallery__brands__wrapper "> 
            
                 <img src="/assets/images/logo.png" class="statistics__right__wrapper__block--wrapper--number brandsgallery__brands__wrapper__image" >

               
             
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
             
        </div>
                <div class="statistics__right__wrapper__block brandsgallery__brands__wrapper "> 
            
                 <img src="/assets/images/logo.png" class="statistics__right__wrapper__block--wrapper--number brandsgallery__brands__wrapper__image" >

               
             
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
             
        </div>
        <div class="statistics__right__wrapper__block brandsgallery__brands__wrapper "> 
            
                 <img src="/assets/images/logo.png" class="statistics__right__wrapper__block--wrapper--number brandsgallery__brands__wrapper__image" >

               
             
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
             
        </div>
                <div class="statistics__right__wrapper__block brandsgallery__brands__wrapper "> 
            
                 <img src="/assets/images/logo.png" class="statistics__right__wrapper__block--wrapper--number brandsgallery__brands__wrapper__image" >

               
             
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
             
        </div>
                <div class="statistics__right__wrapper__block brandsgallery__brands__wrapper "> 
            
                 <img src="/assets/images/logo.png" class="statistics__right__wrapper__block--wrapper--number brandsgallery__brands__wrapper__image" >

               
             
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
             
        </div>
                <div class="statistics__right__wrapper__block brandsgallery__brands__wrapper "> 
            
                 <img src="/assets/images/logo.png" class="statistics__right__wrapper__block--wrapper--number brandsgallery__brands__wrapper__image" >

               
             
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
               <span class="statistics__right__wrapper__block--dot brandsgallery__brands__wrapper__dot w-[4px] h-[4px] absolute bg-[#28272C] "  ></span>
             
        </div>
       
</div>




<!-- 
<section class="  brandsgallery__gallery">
<article class=" brandsgallery__gallery__article flex  flex-col">
    <p class=" brandsgallery__gallery__article__headline font-semibold uppercase flex items-center tracking-[9.6px]"> <span class="brandsgallery__gallery__article__headline--line h-[2px] w-[53px] mr-[20px] bg-[#FF8C6D] block"></span>gallery  </p>
    <h2 class=" brandsgallery__gallery__article__header font-bold  text-[#28272C] text-[32px] mt-[16px] mb-[40px] capitalize">photo gallery</h2>
</article>
     
<div class="  brandsgallery__gallery__photos ">
   
    <img src="https://cdn.pixabay.com/photo/2012/03/01/00/55/flowers-19830_960_720.jpg" class="  brandsgallery__gallery__photos__image ">
   
     <img src="https://cdn.pixabay.com/photo/2012/03/01/00/55/flowers-19830_960_720.jpg" class="  brandsgallery__gallery__photos__image ">

 <img src="https://cdn.pixabay.com/photo/2012/03/01/00/55/flowers-19830_960_720.jpg" class="  brandsgallery__gallery__photos__image ">

    <img src="https://cdn.pixabay.com/photo/2012/03/01/00/55/flowers-19830_960_720.jpg" class="  brandsgallery__gallery__photos__image ">

 <img src="https://cdn.pixabay.com/photo/2012/03/01/00/55/flowers-19830_960_720.jpg" class="  brandsgallery__gallery__photos__image ">

  <img src="https://cdn.pixabay.com/photo/2012/03/01/00/55/flowers-19830_960_720.jpg" class="  brandsgallery__gallery__photos__image ">

</div>

</section> -->

    </section>
