.brands__wrapper {
  flex-wrap: wrap;
  display: flex;
  &__block {
    width: 282px;
    height: 282px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &__dot:first-of-type {
      left: -2px;
      top: -2px;
    }
    &__dot:nth-of-type(2) {
      right: -2px;
      top: -2px;
    }
    &__dot:nth-of-type(3) {
      left: -2px;
      bottom: -2px;
    }
    &__dot:nth-of-type(4) {
      right: -2px;
      bottom: -2px;
    }
  }
}

// რესფონსივი

@media (max-width: 1919px) {
  .brands__wrapper {
    justify-content: space-between;
    &__block {
      width: 246.825px;
      width: 246.825px;
    }
  }
}

@media (max-width: 1680px) {
  .brands__wrapper__block {
    width: 240.16px;
    height: 240.16px;
  }
  .brands {
    margin: 160px 80px 146px 80px;
  }
}

@media (max-width: 1600px) {
  .brands__wrapper__block {
    width: 213.5px;
    height: 213.5px;
  }
}

@media (max-width: 1440px) {
  .brands {
    margin: 160px 60px 146px 60px;
  }
  .brands__wrapper__block {
    width: 249.1px;
    height: 249.1px;
  }
}

@media (max-width: 1366px) {
  .brands {
    margin: 160px 60px 146px 60px;
  }
  .brands__wrapper__block {
    width: 232.1px;
    height: 232.1px;
  }
}

@media (max-width: 1280px) {
  .brands__wrapper__block {
    width: 171.825px;
    height: 171.825px;
  }
}

@media (max-width: 1150px) {
  .brands__wrapper__block {
    width: 150.825px;
    height: 150.825px;
  }
}

@media (max-width: 1024px) {
  .brands__wrapper__block {
    width: 168.1px;
    height: 168.1px;
  }
}

@media (max-width: 960px) {
  .brands__wrapper__block {
    width: 170.25px;
    height: 170.25px;
  }
}

@media (max-width: 800px) {
  .brands__wrapper__block {
    width: 240.5px;
    height: 240.5px;
  }
  .brands__wrapper__block:nth-of-type(n + 7) {
    display: none;
  }
}

@media (max-width: 600px) {
  .brands {
    margin: 160px 16px 146px 16px;
    &__article {
      &__headline {
        font-size: 12px;
        &__line {
          width: 20px;
          height: 1px;
          margin-right: 8px;
        }
      }
      &__header {
        font-size: 24px;
        margin: 8px 0 24px;
      }
      &__text {
        font-size: 14px;
      }
    }
  }

  .brands__wrapper__block {
    width: 224.5px;
    height: 224.5px;
  }
}

@media (max-width: 480px) {
  .brands__wrapper__block {
    width: 171.5px;
    height: 171.5px;
  }
}

@media (max-width: 375px) {
  .brands__wrapper {
    justify-content: center;
  }
}
