.background_logoiamge_mobile {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: right;
  display: none;
}
.bgcolor_web {
  background-color: #ff8c6d;
  position: absolute;
  width: 31%;
  height: 1020px;
  top: 0;
  left: 0;
  background-color: #ff8c6d;
  z-index: 3;
}
.background-gray_web {
  background-color: #f9f9f8;
  width: 29.11vw;
  height: 29.11vw;
  display: flex;
  justify-content: center;
  margin: 22px 0;
  align-items: center;
  position: relative;
  z-index: 8;
}
.mbicon_web {
  max-width: 17vw;
}
.bgcolor {
  position: absolute;
  width: 60%;
  height: 100%;
  left: -16px;
  background-color: #ff8c6d;
  z-index: -1;
}
.background_mobile {
  margin: 33px 0;
}
.background-gray {
  background-color: #f9f9f8;
  min-width: 66%;
  height: 57vw;
  display: flex;
  justify-content: center;
  margin: 22px 0;
  align-items: center;
  margin-left: 60px;
}
.mbicon {
  height: 49.56px;
}
.content {
  display: flex;
  flex-direction: column;
}
.downsidesection {
  display: flex;
  flex-direction: row;
  margin: 4.17vw 35.42vw auto 31.667vw;
  max-width: 567px;
  justify-content: space-between;
}

.upside {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 81px 12.8125% auto 16.6145833333%;
  justify-content: space-between;
}
downsidesection__wrapper {
  display: flex;
  flex-direction: row;
}
.schlogoo {
  background-color: #f9f9f8;
  padding: 9.8959vw 5.208vw;
  max-width: 99%;
}
.info {
  margin-left: 4.79166666667%;
}

.downsidesection__wrapper__items__label {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}
.downsidesection__wrapper__items__text {
  font-size: 14px;
  font-weight: 300;
}
.downsidesection__wrapper .downsidesection__wrapper__items:nth-child(2) {
  margin-top: 60px;
}

@media only screen and (max-width: 1460px) {
  .downsidesection__wrapper__items__text {
    font-size: 14px;
  }
  .info_tittle_subtittle {
    margin: 8px auto 12px auto;
  }
  .bgcolor_web {
    height: 920px;
    width: 26%;
  }
}
@media only screen and (max-width: 1200px) {
  .bgcolor_web {
    height: 74vw;
    width: 26%;
  }
}
@media only screen and (max-width: 900px) {
  .background_logoiamge_web {
    display: none;
  }
  .upside {
    flex-direction: column-reverse;
    margin: 60px 16px 0px 16px;
  }
  .info {
    margin-left: 0;
  }
  .downsidesection {
    display: flex;
    flex-direction: column;
  }

  .background_logoiamge_mobile {
    display: flex;
  }
  .info_tittle_subtittle {
    font-size: 24px;
  }
  .info {
    margin-bottom: 20px;
  }
  .schlogoo {
    margin-top: 33px;
  }

  .downsidesection__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .downsidesection__wrapper .downsidesection__wrapper__items:nth-child(2) {
    margin-top: 0;
  }
  .downsidesection__wrapper__items {
    width: 171.5px;
  }
  .downsidesection {
    width: 343px;
    margin: auto;
  }
}
@media only screen and (max-width: 450px) {
  .downsidesection {
    width: 343px;
    margin: 16px 24px;
  }
  .info_tittle {
    font-size: 12px;
    font-weight: 600;
  }
  .stracture__wrapper__left__hedline--line {
    width: 20px;
    height: 1px;
    margin-right: 8px;
  }
  .info_tittle_text {
    font-size: 12px;
    font-weight: 300;
  }
}
