<div class="content">
  <div>
    <div class="upside">
      <div class="background_logoiamge_mobile">
        <div class="bgcolor"></div>
        <img class="background_mobile" src="assets/images/background.png" />
      </div>
      <div class="background_logoiamge">
        <div class="background_logoiamge">
          <img
            class="background_logoiamge_background-orange"
            src="assets/images/background-orange.png"
          />
        </div>
        <div class="background_logoiamge_image">
          <img class="schlogoo" src="assets/images/schlogoo.png" />
        </div>
      </div>
      <div class="info">
        <p
          class="info_tittle font-semibold uppercase flex items-center tracking-[9.6px]"
        >
          <span
            class="stracture__wrapper__left__hedline--line h-[2px] w-[53px] mr-[20px] bg-[#FF8C6D] block"
          ></span>
          food import
        </p>
        <h2
          class="info_tittle_subtittle max-w-[704px] font-bold text-[#28272C] text-[32px] mt-[24px] mb-[24px]"
        >
          Schirnhofer
        </h2>
        <p class="info_tittle_text max-w-[633px] text-[18px] text-[#27262bb3]">
          Since its founding in 1994, the company has found continuous success
          operating in various business segments such as wholesale and retail,
          the import and distribution of food products, toys, and tableware,
          supermarket chain, food manufacturing and real estate rental.
        </p>
      </div>
    </div>

    <div class="downsidesection">
      <div class="downsidesection__wrapper">
        <div class="downsidesection__wrapper__items">
          <p class="downsidesection__wrapper__items__label">LABEL</p>
          <p class="downsidesection__wrapper__items__text">2010</p>
        </div>
        <div class="downsidesection__wrapper__items">
          <p class="downsidesection__wrapper__items__label">LABEL</p>
          <p class="downsidesection__wrapper__items__text">2010</p>
        </div>
      </div>
      <div class="downsidesection__wrapper">
        <div class="downsidesection__wrapper__items">
          <p class="downsidesection__wrapper__items__label">LABEL</p>
          <p class="downsidesection__wrapper__items__text">2010</p>
        </div>
        <div class="downsidesection__wrapper__items">
          <p class="downsidesection__wrapper__items__label">LABEL</p>
          <p class="downsidesection__wrapper__items__text">2010</p>
        </div>
      </div>
      <div class="downsidesection__wrapper">
        <div class="downsidesection__wrapper__items">
          <p class="downsidesection__wrapper__items__label">LABEL</p>
          <p class="downsidesection__wrapper__items__text">2010</p>
        </div>
        <div class="downsidesection__wrapper__items">
          <p class="downsidesection__wrapper__items__label">WEBSITE</p>
          <a
            class="downsidesection__wrapper__items__text"
            style="display: flex; padding-top: 2px"
            href=""
            >digitalinstitute.ge
            <img
              style="max-width: 20px; margin-left: 20px"
              src="assets/images/Frame.png"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
