<section class="box" >
 
   <div class="upside">
    <div class="imageplace" >
        <img class="mainimage" src="assets/images/background.png"  >
     </div>
     <div class="info">
        <b><p class="tittle"><img class="line" src="assets/images/Rectangle.png" >FOOD IMPORT</p></b>
        <b><p class="smallinfo">Schirnhofer</p></b>
        <p class="about">Since its founding in 1994, the company has found continuous success  operating in various business segments such as wholesale and retail,  the import and distribution of food products, toys, and tableware, a supermarket chain, food manufacturing and real estate rental.</p>
     </div>
   </div>
   

 
  <div class="downsidesection">
    <div  class="downsidesection__wrapper">
      <div class="downsidesection__wrapper__items">
        <p class="downsidesection__wrapper__items__label">LABEL</p>
        <p class="downsidesection__wrapper__items__text">2010</p>
      </div>
      <div class="downsidesection__wrapper__items">
       <p class="downsidesection__wrapper__items__label" >LABEL</p>
        <p class="downsidesection__wrapper__items__text">2010</p>
      </div>
    </div>
    <div  class="downsidesection__wrapper" >
      <div class="downsidesection__wrapper__items">
        <p class="downsidesection__wrapper__items__label" >LABEL</p>
        <p class="downsidesection__wrapper__items__text">2010</p>
      </div>
      <div class="downsidesection__wrapper__items">
        <p class="downsidesection__wrapper__items__label">LABEL</p>
        <p class="downsidesection__wrapper__items__text">2010</p>
      </div>
    </div>
    <div  class="downsidesection__wrapper">
      <div class="downsidesection__wrapper__items">
        <p class="downsidesection__wrapper__items__label">LABEL</p>
        <p class="downsidesection__wrapper__items__text">2010</p>
      </div>
      <div  class="downsidesection__wrapper__items">
        <p class="downsidesection__wrapper__items__label">WEBSITE</p>
        <a  class="downsidesection__wrapper__items__text" 
        style="display: flex;padding-top: 2px; " href="">digitalinstitute.ge
        <img  style="max-width: 20px ; margin-left: 20px;" src="assets/images/Frame.png" >
        </a> 
      </div>
    </div>
  </div>
</section>

 