.main {
    &--desktop-version {
        height: 970px;
        position: relative;

        &--left-side {
            height: 64%;

            &--bottom-text {
                span:first-child {
                    width: 570px;
                    font-family: 'Prompt';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 160%;
                    color: #28272C;
                    opacity: 0.7;
                }

                span:last-child {
                    font-family: 'Prompt';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 160%;
                    color: #28272C;
                }
            }

            &--title {
                top: 343px;
                font-family: 'Prompt';

                span {
                    font-family: 'Prompt';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    letter-spacing: 0.6em;
                    text-transform: uppercase;
                    color: #28272C;

                }
            }

            &--company-name {
                top: 409px;
                width: 777px;
                height: 81px;
                font-family: 'Prompt';

                .city {
                    left: 101px;
                    top: 489px;
                    font-family: 'Prompt';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 62px;
                    line-height: 130%;
                    color: #5765FD;
                }

                span {
                    left: 101px;
                    top: 489px;
                    font-family: 'Prompt';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 62px;
                    line-height: 130%;
                    color: #28272C;
                }
            }

            &--description {
                width: 615px;
                font-family: 'Prompt';
                line-height: 160%;

                span {
                    font-family: 'Prompt';
                    font-style: normal;
                    color: #28272C;
                    opacity: 0.7
                }
            }
        }

        &--right-side {
            display: flex;
            width: 100%;
            padding: 50px;
            position: relative;
            z-index: 4;

            .img {
                display: flex;
                align-items: center;
                justify-content: center;
                background: url(/assets/slider1.png);
                background-size: cover;
                height: 100%;
                width: 100%;

                span {
                    font-family: 'Prompt';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 62px;
                    line-height: 130%;
                    color: #FFFFFD;
                }


            }



        }

        .slider-count {
            position: absolute;
            width: 680px;
            height: 456px;
            background-color: #5765FD;
            z-index: 2;
            bottom: -23px;
            right: -100px;

        }

    }

    .mobile-version {
        display: none;
    }



}

@media(max-width:600px) {
    // .main {
    //     &--mobile-version {}
    // }
}