<section class="main " style="padding: 0px 100px;">
    <div class="main--desktop-version" style=" display: flex;">
        <div class="main--desktop-version--left-side w-2/4 left-24 flex flex-col justify-between self-end">
            <div style="display: flex;
            flex-direction: column;
            gap: 40px;">
                <div class="main--desktop-version--left-side--title  flex flex-row gap-5 items-center">
                    <img class="w-14 h-0.5" src="./assets/line.svg">
                    <span>WE ARE</span>
                </div>
                <div class="main--desktop-version--left-side--company-name   ">
                    <span class="city">Tbilisi Holding</span><span> Company</span>
                </div>
                <div class="main--desktop-version--left-side--description flex flex-col gap-5">
                    <span>THC LTD represents an extensive array of companies and brands. Just the food segment alone
                        includes up to 500 different products.</span>

                    <div class="btn">
                        <app-button type="oranges">Learn More</app-button>

                    </div>
                </div>
            </div>
            <div class="main--desktop-version--left-side--bottom-text flex flex-col gap-2">
                <span>THC LTD represents an extensive array of companies and brands</span>
                <span>Schirnhofer Ges.m.b.H.</span>
            </div>

        </div>
        <div class="main--desktop-version--right-side  ">
            <div class="img">
                <span>Food Import</span>
            </div>

        </div>
        <div class="slider-count">
            <div class="slider-img">
            </div>
        </div>
    </div>


    <div class="mobile-version">
        <div class="title">
            <img src="/src/assets/line.svg" alt="">
            <span>WE ARE</span>
        </div>
    </div>
</section>