:host{
    position: relative;
}
.upside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.downsidesection{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
}
section{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    margin: 0px 319px;
}
.imageplace::before
 {
   content: "";
   height: 1075px;
   width: 587px;
   background-color: #FF8C6D;
   position: absolute;
   z-index: 3;
   left: -319px;
   top: -185px;
}
.imageplace{
    position: relative;
    
}
.title{
    display: flex;
    align-items: center;
}
.tittle{
    letter-spacing: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.mainimage{
    position: relative;
    z-index: 5;
    min-width: 559px;

}
.downsidetext{
    text-align: center;
    margin-top: 280px;
    font-size: small;
}
.info{
    display: flex;
    flex-direction: column;
    max-width: 633px;
    margin-left: 92px;
}
.about{
    font-size: 18px;
    color: gray;
    
}
.smallinfo{
    font-size: 32px;
    margin: 20px 0 20px 0;
}
.line{
    height: 2px;
    width: 30px;
    margin-right: 20px;
}

@media only screen and (max-width: 1680px){
  section{
    margin: 0 200px;
  }
}
@media only screen and (max-width: 1440px){
    .mainimage{
    
    min-width: 560px;
   }
      .imageplace::before
 {
     height: 150%;
    
     
}
.downsidetext{
    margin-top: 150px;
   }
}
@media only screen and (max-width: 1366px){
   
   .smallinfo{
    font-size: 22px;
   }
//     .imageplace::before
//  {
//     //  right: -60px;
// }
.downsidetext{
    margin-top: 100px;
   }
 }
 @media only screen and (max-width: 1280px){
  section{
    margin: 0 120px;
  }
}
@media only screen and (max-width: 1024px){
 section{
    flex-direction: column;
    margin: 0 60px;
 }
 .upside{

 }
 .mainimage{
    min-width: 100%;
   }
   .downsidetext{
    margin-top: 150px;
   }
   .info{
    max-width: auto;
    width: 100%;
    margin-left: 0;
   }

.imageplace{
    // margin-top: 130px;
    // margin-left: 0;
}
   .imageplace::before
 {   
     height: 128%;
    //  width: 65%;
    //  top: -14%;    
}
}

@media only screen and (max-width: 600px){
  section{
    margin: 0 16px;
  }
     .imageplace::before
 {
     right: -16px;
}
.imageplace{
    
    margin-top: 80px;
    margin-left: 0;
}
.downsidetext{
    margin-top: 90px;
    font-size: 9px;
}
.about{
    font-size: 8px;
}
.smallinfo{
    font-size: 17px;
}
.whoweare{
    font-size: 12px;
}
}