section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    justify-content: space-around;
    position: relative;
}
.backgroundcolor{
    background-color:  #FF8C6D;
    width: 27%;
    left: 0;
    position: absolute;
    height: 120%;
    z-index: 3;
    top: -125px;
}
 b{
    font-size: small;
 }
p{
    font-size: small;
}
.upsidesection{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.downsidesection{
   display: flex;
   flex-direction: row; 
   justify-content: space-around;
    height: 150px; 
    width:400px ; 
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    z-index: 5;

}

.infomobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.downsidetext {
    font-size: small;
}
.title{
    display: flex;
    align-items: center;
    margin-right: 110px;
}
.whoweare{
    letter-spacing: 8px;
    font-size: small;
    display: flex;
    align-items: center;
    
}
.mainimage{
    max-width: 400px;
    position: relative;
    z-index: 5;
}
.info{
    display: flex;
    margin-left: 50px;
    position: relative;
    z-index: 5;

}
.aboutcompany{
    display: flex;
    flex-direction: column;
}
.about{
    font-size: small;
    color: gray;
    align-items: flex-end;
}
.smallinfo{
    font-size: x-large;
    margin: 10px 0 10px 0;
}
.line{
    height: 2px;
    width: 40px;
    margin-right: 10px;

}


@media only screen and (max-width: 920px) {
   
   .about{
     font-size: xx-small;
   }
   .whoweare{
    font-size: x-small;
   }
   .line{
    width: 30px;
   }
   .mainimage{
    max-width:300px;
  }
  
}
@media only screen and (max-width: 682px){
     
    
        section :nth-child(1) { order: 2; }
       se :nth-child(2) { order: 1; }
        :nth-child(3) { order: 3; }
     
     .mainimage{
        max-width: 450px;
     }
     .downsidetext{
        font-size: x-small ;
     } 
     .downsidesection{
       position: relative;
     }

}


@media only screen and (min-width: 683px){
     .infomobile{
        display: none;
     }
}
@media only screen and (max-width: 466px){
   .mainimage{
        max-width: 280px;
     }
     section{
        height: 350px;
     }
     .about{
        font-size: 7px;
     }
     .smallinfo{
     margin: 10px 0 6px 0;
   }
   .downsidetext{
     font-size: xx-small;
   }
   .whoweare{
     font-size: xx-small;
   }
   .line{
    width: 20px;
   }
   section{
    flex-direction: row;
    position: relative;
   }
   .upsidesection{
    flex-direction: row;
    position: relative;
   }
}