<div class="infomobile">
       <div class="title">
        <img class="line" src="assets/images/Rectangle.png" >
        <b><p class="whoweare">FOOD IMPORT</p></b>
       </div>
       <div class="aboutcompany">
        <b><p class="smallinfo">Schirnhofer</p></b>
        <p class="about">Since its founding in 1994, the company has found continuous success <br> operating in various business segments such as wholesale and retail, <br> the import and distribution of food products, toys, and tableware, a <br> supermarket chain, food manufacturing and real estate rental.</p>
       </div>
</div>
<section>
  <div class="usidesection">
        <div class="imageplace">
        <img class="mainimage" src="assets/images/map.png" >
    </div>
    <div class="info">
       <div class="title">
        <img class="line" src="assets/images/Rectangle.png" >
        <b><p class="whoweare">FOOD IMPORT</p></b>
       </div>
       <div class="aboutcompany">
        <b><p class="smallinfo">Schirnhofer</p></b>
        <p class="about">Since its founding in 1994, the company has found continuous success <br> operating in various business segments such as wholesale and retail, <br> the import and distribution of food products, toys, and tableware, a <br> supermarket chain, food manufacturing and real estate rental.</p>
       </div>
    </div>
  </div>
  <div class="downsidesection " style="display: flex; flex-direction: row; justify-content: space-around; height: 150px; width:400px ;">
    <div style="display: flex; flex-direction: column; justify-content: space-between;">
      <div>
        <b>LABEL</b>
        <p >2010</p>
      </div>
      <div>
        <b>LABEL</b>
        <p>2010</p>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: space-between;">
      <div>
        <b>LABEL</b>
        <p >2010</p>
      </div>
      <div>
        <b>LABEL</b>
        <p>2010</p>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: space-between;">
      <div>
        <b>LABEL</b>
        <p >2010</p>
      </div>
      <div >
        <b>WEBSITE</b>
        <p style="display: flex; flex-direction: row;"><a href="">digitalinstitute.ge</a> <img  style="max-width: 20px ; margin-left: 20px;" src="assets/images/Frame.png" ></p>
      </div>
    </div>
      
      
  
  </div>
</section>
