<section class="stracture bg-[#F9F9F8]">
  <div class="stracture__wrapper flex justify-between ml-[100px] mr-[100px]">
    <article class="stracture__wrapper__left flex mt-[287px] flex-col">
      <p
        class="stracture__wrapper__left__hedline font-semibold uppercase flex items-center tracking-[9.6px]"
      >
        <span
          class="stracture__wrapper__left__hedline--line h-[2px] w-[53px] mr-[20px] bg-[#FF8C6D] block"
        ></span
        >{{ pageData?.sectionTitle }}
      </p>
      <h2
        class="stracture__wrapper__left__header max-w-[487px] font-bold text-[#28272C] text-[32px] mt-[24px] mb-[24px]"
      >
        {{ pageData?.title }}
      </h2>
      <p
        class="stracture__wrapper__left__text max-w-[632px] text-[18px] text-[#27262bb3]"
      >
        {{ pageData?.description }}
      </p>
      <app-button
        class="stracture__wrapper__left__button mt-[24px]"
        type="blues"
        >discover more</app-button
      >
    </article>

    <article class="stracture__wrapper__right">
      <a
        href=""
        class="stracture__wrapper__right__wrapper"
        *ngFor="let item of pageData?.industries"
      >
        <h1 class="stracture__wrapper__right__wrapper--header">
          {{ item.title }}
          <span class="stracture__wrapper__right__wrapper--header--link">
            <img
              src="/assets/images/arrow.png"
              alt=""
              class="stracture__wrapper__right__wrapper--header--link--image"
            />
          </span>
        </h1>
        <p class="stracture__wrapper__right__wrapper--text">
          {{ item.description }}
        </p>
      </a>
    </article>
  </div>
</section>
