<section class="stracture bg-[#F9F9F8] ">

    <div class="stracture__wrapper flex justify-between ml-[100px] mr-[100px]">



    <article class="stracture__wrapper__left flex mt-[287px]">
        <p class="stracture__wrapper__left__hedline font-semibold"> <span class="stracture__wrapper__left__hedline--line h-[1px] w-[53px] bg-[#FF8C6D] block"></span> Structure of the company  </p>
        <h2 class="stracture__wrapper__left__header max-[487px] text-[#28272C] text-[32px] ml-[24px] mr-[24px]">As of today, the holding includes</h2>
        <p class="stracture__wrapper__left__text max-[632px]:">Since its founding in 1994, the company has found continuous success operating in various business segments such as wholesale and retail, the import and distribution of food products, toys, and tableware, supermarket chain, food manufacturing and real estate rental.</p>
        <button class="stracture__wrapper__left__button bg-[#5765FD;] capitalize h-[52px] w-[191px] text-[#fffffd] mt-[24px]" >discover more</button>
    </article>

    <article class="stracture__wrapper__right">
         <div class="stracture__wrapper__right__wrapper">
            <h1 class="stracture__wrapper__right__wrapper--header">Food Import & Distribution <a href="" class="stracture__wrapper__right__wrapper--header--link">
                 <img src="/assets/images/arrow1.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image1">
                <img src="/assets/images/arrow2.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image1">    </a>
            </h1>
            <p class="stracture__wrapper__right__wrapper--text">THC LTD represents an extensive array of companies and brands. Just the food segment alone includes up to 500 different products.</p>
         </div>
         <div class="stracture__wrapper__right__wrapper">
            <h1 class="stracture__wrapper__right__wrapper--header">Import & Distribution of Toys, Tableware and Stationery <a href="" class="stracture__wrapper__right__wrapper--header--link">
                 <img src="/assets/images/arrow1.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image1">
                <img src="/assets/images/arrow2.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image1">    </a>
            </h1>
            <p class="stracture__wrapper__right__wrapper--text">THC LTD represents an extensive array of companies and brands. Just the food segment alone includes up to 500 different products.</p>
         </div>
         <div class="stracture__wrapper__right__wrapper">
            <h1 class="stracture__wrapper__right__wrapper--header">Supermarket Chain <a href="" class="stracture__wrapper__right__wrapper--header--link">
                 <img src="/assets/images/arrow1.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image1">
                <img src="/assets/images/arrow2.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image1">    </a>
            </h1>
            <p class="stracture__wrapper__right__wrapper--text">THC LTD represents an extensive array of companies and brands. Just the food segment alone includes up to 500 different products.</p>
         </div>
         <div class="stracture__wrapper__right__wrapper">
            <h1 class="stracture__wrapper__right__wrapper--header">Construction / Property  Development <a href="" class="stracture__wrapper__right__wrapper--header--link">
                 <img src="/assets/images/arrow1.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image1">
                <img src="/assets/images/arrow2.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image1">    </a>
            </h1>
            <p class="stracture__wrapper__right__wrapper--text">THC LTD represents an extensive array of companies and brands. Just the food segment alone includes up to 500 different products.</p>
         </div>
         <div class="stracture__wrapper__right__wrapper">
            <h1 class="stracture__wrapper__right__wrapper--header">Production<a href="" class="stracture__wrapper__right__wrapper--header--link">
                 <img src="/assets/images/arrow1.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image1">
                <img src="/assets/images/arrow2.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image1">    </a>
            </h1>
            <p class="stracture__wrapper__right__wrapper--text">THC LTD represents an extensive array of companies and brands. Just the food segment alone includes up to 500 different products.</p>
         </div>
    </article>

    </div>
</section>
