<section class="news ml-[100px] mt-[100px] mb-[100px] mr-[100px]">
 <div class="news__title mb-[16px] ">
    <h1 class="news__title__header flex items-center uppercase font-semibold tracking-[9.6px] text-[16px]"><span class="news__title__header__line bg-[#FF8C6D] w-[53px] h-[2px] block mr-[20px]" ></span> news</h1>
    <p class="news__title__text text-[32px] text-[#28272C]">See the latest news of our company</p>
 </div>
<section class="news__wrapper ">
   <div class="news__wrapper__component ">
    <div class="news__wrapper__component__wrapper relative">

    <img src="" alt="" class="news__wrapper__component__wrapper--image">
</div>
    <!-- <div class="news__wrapper__component__article ">
     <span class="news__wrapper__component__article--time">20.03.2023</span>
     <a href="" class="news__wrapper__component__article--header">ADM to offer BiOWiSH® Fertilizer Enhancement to improve nutrient efficiency</a>
     <p class="news__wrapper__component__article--text ">CHICAGO and CINCINNATI, OHIO—ADM (NYSE: ADM) and BiOWiSH Technologies, Inc. (BiOWiSH) today announced ADM will offer a BiOWiSH® Fertilizer Enhancement as an option to urea, monoammonium phosphate (MAP), diammonium phosphate (DAP) and NPK blends. The new product will be available from ADM Farm Direct Fertilizer as well as the company's wholesale business.</p>

     <a href="" class="news__wrapper__component__article--show ">read more <span class="news__wrapper__component__article--show--line "></span></a>
    </div> -->
        <a href="" class="news__wrapper__component__article ">
     <span class="news__wrapper__component__article--time">20.03.2023</span>
     <a href="" class="news__wrapper__component__article--header">ADM to offer BiOWiSH® Fertilizer Enhancement to improve nutrient efficiency</a>
     <p class="news__wrapper__component__article--text ">CHICAGO and CINCINNATI, OHIO—ADM (NYSE: ADM) and BiOWiSH Technologies, Inc. (BiOWiSH) today announced ADM will offer a BiOWiSH® Fertilizer Enhancement as an option to urea, monoammonium phosphate (MAP), diammonium phosphate (DAP) and NPK blends. The new product will be available from ADM Farm Direct Fertilizer as well as the company's wholesale business.</p>

   
        </a>
   </div>


     <div class="news__wrapper__component ">
        <div class="news__wrapper__component__wrapper second relative">

    <img src="" alt="" class="news__wrapper__component__wrapper--image">
</div>

    <!-- <div class="news__wrapper__component__article ">
     <span class="news__wrapper__component__article--time">20.03.2023</span>
     <a href="" class="news__wrapper__component__article--header">ADM to offer BiOWiSH® Fertilizer Enhancement to improve nutrient efficiency</a>
     <p class="news__wrapper__component__article--text ">CHICAGO and CINCINNATI, OHIO—ADM (NYSE: ADM) and BiOWiSH Technologies, Inc. (BiOWiSH) today announced ADM will offer a BiOWiSH® Fertilizer Enhancement as an option to urea, monoammonium phosphate (MAP), diammonium phosphate (DAP) and NPK blends. The new product will be available from ADM Farm Direct Fertilizer as well as the company's wholesale business.</p>

     <a href="" class="news__wrapper__component__article--show ">read more <span class="news__wrapper__component__article--show--line "></span></a>
    </div> -->

           <a href="" class="news__wrapper__component__article ">
     <span class="news__wrapper__component__article--time">20.03.2023</span>
     <a href="" class="news__wrapper__component__article--header">ADM to offer BiOWiSH® Fertilizer Enhancement to improve nutrient efficiency</a>
     <p class="news__wrapper__component__article--text ">CHICAGO and CINCINNATI, OHIO—ADM (NYSE: ADM) and BiOWiSH Technologies, Inc. (BiOWiSH) today announced ADM will offer a BiOWiSH® Fertilizer Enhancement as an option to urea, monoammonium phosphate (MAP), diammonium phosphate (DAP) and NPK blends. The new product will be available from ADM Farm Direct Fertilizer as well as the company's wholesale business.</p>

   
        </a>

   </div>

     <div class="news__wrapper__component ">
        <div class="news__wrapper__component__wrapper relative ">

    <img src="" alt="" class="news__wrapper__component__wrapper--image">
</div>

    <div class="news__wrapper__component__article ">
     <span class="news__wrapper__component__article--time">20.03.2023</span>
     <a href="" class="news__wrapper__component__article--header">ADM to offer BiOWiSH® Fertilizer Enhancement to improve nutrient efficiency</a>
     <p class="news__wrapper__component__article--text ">CHICAGO and CINCINNATI, OHIO—ADM (NYSE: ADM) and BiOWiSH Technologies, Inc. (BiOWiSH) today announced ADM will offer a BiOWiSH® Fertilizer Enhancement as an option to urea, monoammonium phosphate (MAP), diammonium phosphate (DAP) and NPK blends. The new product will be available from ADM Farm Direct Fertilizer as well as the company's wholesale business.</p>

     <a href="" class="news__wrapper__component__article--show ">read more <span class="news__wrapper__component__article--show--line "></span></a>
    </div>
   </div>


</section>
</section>