<section class="main">
  <div class="main--desktop-version flex relative">
    <div
      class="main--desktop-version--left-side w-2/4 left-24 flex flex-col justify-between self-end"
    >
      <div style="display: flex; flex-direction: column; gap: 40px">
        <div
          class="main--desktop-version--left-side--title flex flex-row gap-5 items-center"
        >
          <img class="w-14 h-0.5" src="./assets/images/line.svg" />
          <span class="font-bold">{{title}}</span>
        </div>
        
       <div class="main--desktop-version--left-side--company-name">
          <span
            class="main--desktop-version--left-side--company-name--city font-bold"
            >{{subtitle}}</span
          ><span class="font-bold"> {{company}}</span>
        </div>
        <div
          class="main--desktop-version--left-side--description flex flex-col gap-5"
        >
          <span
            >{{descriptioncaption}}</span
          >

          <div class="btn">
            <app-button type="oranges">Learn More</app-button>
          </div>
        </div>
      </div>
      <div
        class="main--desktop-version--left-side--bottom-text flex flex-col gap-2"
      >
        <span class="font-light"
          >{{representcaption}}</span
        >
        <span class="font-medium">{{namecaption}}</span>
      </div>
    </div>
    <div class="main--desktop-version--right-side flex w-full relative">
      <div
        class="main--desktop-version--right-side--img flex items-center justify-center w-full h-full object-cover"
        [style]="{ background: 'url(' + currentPhoto.image + ')' }"
      >
        <span>{{ currentPhoto.text }}</span>
      </div>
    </div>
    <div class="main--desktop-version--slider-count right-0 absolute">
      <div
        class="main--desktop-version--slider-count--slider-change flex items-end items-start p-5 gap-2.5 w-full h-full"
      >
        <div
          class="main--desktop-version--slider-count--slider-change--slider-line flex items-center gap-2"
        >
          <span>0{{ this.currentIndex + 1 }}</span>
          <span>
            <div class="relative h-0.5">
              <span
                [ngStyle]="{ left: sliderPosition + 'px' }"
                class="absolute w-5 h-0.5"
              ></span>
            </div>
          </span>
          <span>05</span>
        </div>
      </div>
    </div>
  </div>
  <div
    class="main--mobile-version flex-col items-center justify-center m-0 mt-10 gap-10 w-full"
  >
    <div class="flex flex-col px-4 gap-2">
      <div class="main--mobile-version--title flex flex-col">
        <div
          class="main--mobile-version--title--top-title flex flex-row gap-2 items-center"
        >
          <img class="w-5 h-px" src="./assets/images/line.svg" />
          <span class="font-bold">{{title}}</span>
        </div>
      </div>
      <div class="main--mobile-version--company-title">
        <span class="main--mobile-version--company-title--city-name font-bold"
          >{{subtitle}}</span
        ><span class="font-bold"> {{company}}</span>
      </div>
      <div class="main--mobile-version--bottom-description flex flex-col">
        <span
          >{{descriptioncaption}}</span
        >
        <div class="main--mobile-version--bottom-description--btn">
          <app-button type="oranges">Learn More</app-button>
        </div>
      </div>
    </div>

    <div class="main--mobile-version--bottom">
      <div class="main--mobile-version--bottom--img w-full h-full">
        <div
          class="main--mobile-version--bottom--img--image flex items-center justify-center h-full w-full object-cover"
          [style]="{ background: 'url(' + currentPhoto.image + ')' }"
        >
          <span>{{ currentPhoto.text }}</span>
        </div>
      </div>

      <div
        class="main--mobile-version--bottom--slider-count absolute bottom-0 right-0"
      >
        <div
          class="main--mobile-version--bottom--slider-count--slider-change flex justify-center w-full h-full"
        >
          <div
            class="main--mobile-v>ersion--bottom--slider-count--slider-change--slider-line flex items-center gap-2"
          >
            <span>0{{ this.currentIndex + 1 }}</span>
            <span>
              <div
                class="main--mobile-version--bottom--slider-count--slider-change--slider-line--next-slider relative h-0.5"
              >
                <span
                  class="w-5 h-0.5 main--mobile-version--bottom--slider-count--slider-change--slider-line--next-slider--line absolute"
                  [ngStyle]="{ left: sliderPosition + 'px' }"
                ></span>
              </div>
            </span>
            <span>05</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

