.orange{
text-transform: capitalize;
font-size: 13px;
padding:40px 13px;
background-color: #FF8C6D;
color:#fff;
}
.blue{
    text-transform: capitalize;
    font-size: 14px;
    padding:32px 13.5px;
    background-color: #5765FD;
    color:#fff;

}
