<div class="layout">
  <app-header></app-header>

  [Home Page Sections]
     <app-button type="orange" (clicked)="onbuttonclick()">learn more</app-button>
     <app-button type="blue" (clicked)="onbuttonclick()">contact us</app-button>

  <!-- <app-button orange="capitalize text-[#fff] bg-[#FF8C6D]  pt-[13px;] pl-[40px;] pb-[13px;] pr-[40px;]"></app-button>
  <app-button blue="capitalize text-[#fff] text-[14px] bg-[#5765FD]  pt-[13.5px;] pl-[32px;] pb-[13.5px;] pr-[32px;]" ></app-button> -->
  
   
  <app-footer></app-footer>
</div>
