<section>
  <section class="mobile">
    <section class="title">
      <div class="title">
        <img class="line" src="assets/images/Rectangle.png" />
        <B><p class="maintextmobile">WHO WE ARE</p></B>
      </div>
      <div class="infoplace">
        <b
          ><p class="smallinfomobile">
            The head office of Tbilisi Holding Company <br />
            is located in Tbilisi (Georgia).
          </p></b
        >
        <p class="descriptionmobile">
          Since its founding in 1994, the company has found continuous success
          <br />
          operating in various business segments such as wholesale and retail,
          <br />
          the import and distribution of food products, toys, and tableware, a
          <br />
          supermarket chain, food manufacturing and real estate rental.
        </p>
      </div>
    </section>
    <div class="infoplacemobile">
      <b
        ><p class="smallinfomobile">
          The head office of Tbilisi Holding Company <br />
          is located in Tbilisi (Georgia).
        </p></b
      >
      <p class="descriptionmobile">
        Since its founding in 1994, the company has found continuous success
        <br />
        operating in various business segments such as wholesale and retail,
        <br />
        the import and distribution of food products, toys, and tableware, a
        <br />
        supermarket chain, food manufacturing and real estate rental.
      </p>
    </div>
  </section>
  <div class="mainplace">
    <article class="textandimgweb">
      <section class="web">
        <section class="title">
          <div class="title">
            <img class="line" src="assets/images/Rectangle.png" />
            <B><p class="maintext">WHO WE ARE</p></B>
          </div>
        </section>
        <div class="infoplace">
          <b
            ><p class="smallinfo">
              The head office of Tbilisi Holding Company <br />
              is located in Tbilisi (Georgia).
            </p></b
          >
          <p class="description">
            Since its founding in 1994, the company has found continuous success
            <br />
            operating in various business segments such as wholesale and retail,
            <br />
            the import and distribution of food products, toys, and tableware, a
            <br />
            supermarket chain, food manufacturing and real estate rental.
          </p>
        </div>
      </section>
      <img class="image" src="assets/images/ggggg.png" />
    </article>

    <div class="rightside"></div>
    <div class="leftside"></div>
  </div>
  <b>
    <p class="downsidetext">
      THC LTD represents an extensive array of
      <br class="hide mobile-show" />companies and brands. Just
      <br class="desktop-show" />
      the food <br class="hide mobile-show" />segment alone includes up to 500
      <br class="hide mobile-show" />
      different products.
    </p>
  </b>
</section>
