<footer class="footer w-full">
  <section class="footer__top">
    <article
      class="footer__top__wrapper ml-[100px] mr-[100px] mb-[40px] flex justify-between"
    >
      <div
        class="footer__top__wrapper__left mr-[76px] flex justify-between flex-col"
      >
        <div
          class="footer__top__wrapper__left--logo w-[60px] h-[60px] border-[2px] relative border-[#FF8C6D]"
        >
          <h2
            class="footer__top__wrapper__left--logo--text w-[150px] absolute top-[9px]"
          >
            tbilisi holding
          </h2>
          <p
            class="footer__top__wrapper__left--logo--text second absolute top-[26px] text-[14px]"
          >
            company
          </p>
        </div>
        <p
          class="footer__top__wrapper__left--text w-[486px] text-[14px] text-[#28272c80]"
        >
          {{description}}
        </p>
      </div>
      <nav class="footer__top__wrapper__right flex">
        <ul class="footer__top__wrapper__right--block">
          <h2 class="footer__top__wrapper__right--block--header">{{company}}</h2>
          <a href="" class="footer__top__wrapper__right--block--text"
            >{{whoweare}}</a
          >
          <a href="" class="footer__top__wrapper__right--block--text"
            >{{industry}}</a
          >
          <a href="" class="footer__top__wrapper__right--block--text"
            >{{ourbrands}}</a
          >
        </ul>

        <ul class="footer__top__wrapper__right--block">
          <h2 class="footer__top__wrapper__right--block--header">
            {{quicklinks}}
          </h2>
          <a href="" class="footer__top__wrapper__right--block--text">{{ media}} </a>
          <a href="" class="footer__top__wrapper__right--block--text">{{news}}</a>
        </ul>

        <ul class="footer__top__wrapper__right--block">
          <h2 class="footer__top__wrapper__right--block--header">
            {{socialnetwork}}
          </h2>
          <a href="" class="footer__top__wrapper__right--block--text"
            >{{facebook}}</a
          >
          <a href="" class="footer__top__wrapper__right--block--text"
            >{{linkedin}}</a
          >
          <a href="" class="footer__top__wrapper__right--block--text"
            >{{youtube}}</a
          >
        </ul>

        <ul class="footer__top__wrapper__right--block">
          <h2 class="footer__top__wrapper__right--block--header">{{contact}}</h2>
          <p class="footer__top__wrapper__right--block--text">
          {{caption}}
          </p>
          <p class="footer__top__wrapper__right--block--text">
           {{phonecaption}}
          </p>
          <p class="footer__top__wrapper__right--block--text text">
           {{emailcaption}}
          </p>
        </ul>
      </nav>
    </article>
  </section>
  <section class="footer__bottom w-full bg-[#5765FD]">
    <div
      class="footer__bottom__wrapper ml-[100px] mr-[100px] pt-[40px] pb-[40px] text-[14px] flex justify-between text-[#FFFFFD]"
    >
      <p class="footer__bottom__wrapper__rights">
       {{rightscaption}}
      </p>
      <div class="footer__bottom__wrapper__links">
        <a href="" class="footer__bottom__wrapper__links--link mr-[40px]"
          >{{privacycaption}}</a
        >
        <a href="">{{termscaption}}</a>
      </div>
    </div>
  </section>
</footer>
