<footer class="footer w-full relative bottom-0">
  <section class="footer__top">
    <article
      class="footer__top__wrapper ml-[100px] mr-[100px] mb-[40px] flex justify-between"
    >
      <div
        class="footer__top__wrapper__left mr-[8px] flex justify-between flex-col"
      >
        <div
          class="footer__top__wrapper__left--logo w-[60px] h-[60px] border-[2px] relative border-[#FF8C6D]"
        >
          <h2
            class="footer__top__wrapper__left--logo--text w-[150px] absolute top-[9px]"
          >
            tbilisi holding
          </h2>
          <p
            class="footer__top__wrapper__left--logo--text second absolute top-[26px] text-[14px]"
          >
            company
          </p>
        </div>
        <p
          class="footer__top__wrapper__left--text w-[486px] text-[14px] text-[#28272c80]"
        >
          THC LTD represents an extensive array of companies and brands. Just
          the food segment alone includes up to 500 different products.
        </p>
      </div>
      <nav class="footer__top__wrapper__right flex">
        <ul class="footer__top__wrapper__right--block">
          <h2 class="footer__top__wrapper__right--block--header">company</h2>
          <a href="" class="footer__top__wrapper__right--block--text"
            >who we are</a
          >
          <a routerLink="/industry" class="footer__top__wrapper__right--block--text"
            >industry</a
          >
          <a href="" class="footer__top__wrapper__right--block--text"
            >our brands</a
          >
        </ul>

        <ul class="footer__top__wrapper__right--block">
          <h2 class="footer__top__wrapper__right--block--header">
            quick links
          </h2>
          <a href="" class="footer__top__wrapper__right--block--text">media</a>
          <a routerLink="/news" class="footer__top__wrapper__right--block--text">news</a>
        </ul>

        <ul class="footer__top__wrapper__right--block">
          <h2 class="footer__top__wrapper__right--block--header">
            social network
          </h2>
          <a href="" class="footer__top__wrapper__right--block--text"
            >facebook</a
          >
          <a href="" class="footer__top__wrapper__right--block--text"
            >linkedin</a
          >
          <a href="" class="footer__top__wrapper__right--block--text"
            >youtube</a
          >
        </ul>

        <ul class="footer__top__wrapper__right--block">
          <h2 class="footer__top__wrapper__right--block--header">contact</h2>
          <p class="footer__top__wrapper__right--block--text">
            a. tsereteli ave. 60, Tbilisi Georgia
          </p>
          <p class="footer__top__wrapper__right--block--text">
            +995 598 23 98 23
          </p>
          <p class="footer__top__wrapper__right--block--text text">
            Support@thc.com
          </p>
        </ul>
      </nav>
    </article>
  </section>
  <section class="footer__bottom w-full bg-[#5765FD]">
    <div
      class="footer__bottom__wrapper ml-[100px] mr-[100px] pt-[40px] pb-[40px] text-[14px] flex justify-between text-[#FFFFFD]"
    >
      <p class="footer__bottom__wrapper__rights">
        © 2023 THC, Inc. All Rights Reserved.
      </p>
      <div class="footer__bottom__wrapper__links">
        <a href="" class="footer__bottom__wrapper__links--link mr-[40px]"
          >Privacy</a
        >
        <a href="">Terms of use</a>
      </div>
    </div>
  </section>
</footer>
