.footer::before {
  content: '';
  height: 261px;
  width: 40px;
  position: absolute;
  background-color: #5765fd;
}
.footer__top__wrapper__left--logo--text {
  text-transform: capitalize;
  margin-left: 14px;
  background-color: white;
}
.footer__top__wrapper__right--block {
  display: flex;
  flex-direction: column;
  width: 250px;
  &--header {
    text-transform: uppercase;
    color: #27262b80;
  }
  &--text {
    font-size: 14px;
    padding-top: 16px;
    color: #28272c;
    text-transform: capitalize;
  }
  .text {
    text-transform: none;
  }
}
.footer__top__wrapper {
  margin: 0 100px 25px 100px;
  &__Left {
    margin-right: 35px;
    &__text {
      font-size: 13px;
    }
  }
}
.footer__top__wrapper__right--block:not(:last-of-type) {
  width: 200px;
}
.footer__bottom__wrapper {
  margin: 0 100px;
}

// რესფონსივი
@media (max-width: 1680px) {
  .footer__top__wrapper {
    margin: 0 80px 25px 80px;
  }
  .footer__bottom__wrapper {
    margin: 0 80px;
  }
}

@media (max-width: 1440px) {
  .footer::before {
    content: '';
    display: none;
  }
  .footer__top__wrapper {
    margin: 0 60px 25px 60px;
    justify-content: center;
    &__left {
      display: none;
    }
    &__right {
      justify-content: space-between;
      width: 100%;
    }
  }
  .footer__bottom__wrapper {
    margin: 0 60px;
  }
}

@media (max-width: 1024px) {
  .footer__top__wrapper__right--block--text {
    font-size: 12px;
  }
  .footer__top__wrapper__right--block--header {
    font-size: 13px;
  }
    .location {
    min-width: 215px;
  }
}

@media (max-width: 800px) {
  .footer__bottom__wrapper {
    font-size: 12px;
  }
  .footer__bottom__wrapper__links--link {
    margin-right: 10px;
  }
  .footer__top__wrapper__right--block:nth-of-type(2) {
    display: none;
  }
  .footer__top__wrapper__right--block {
    width: auto;
  }
}

@media (max-width: 600px) {
  .footer__top__wrapper__right--block:nth-of-type(1) {
    display: none;
  }
}

@media (max-width: 480px) {
  .footer::before {
    width: 37px;
    height: 181px;
    display: block;
  }
  .footer__top__wrapper {
    margin: 0 0 20px 74px;
    &__Left {
      display: none;
    }
    &__links {
      display: none;
    }
  }
  .location {
    min-width: auto;
  }
  .footer__top__wrapper__right--block--text {
    width: auto;
  }
  .footer__top__wrapper__right--block:not(:last-child) {
    display: none;
  }
  .footer__top__wrapper__right--block--header {
    font-size: 14px;
  }
  .footer__top__wrapper__right--block--text {
    font-size: 12px;
    padding-top: 12px;
  }
  .footer__bottom__wrapper {
    padding: 16px 0 16px 16px;
    justify-content: initial;
    font-size: 12px;
    z-index: 22222;
    position: relative;
    margin: 0;
    &__right {
      justify-content: flex-start;
    }
  }
}
