<div class="main">
  <p class="all__gallry__hedline uppercase text-[#28272C] flex items-center font-semibold tracking-[9.6px]">
  <span class="all__gallry__hedline__line w-[53px] h-[2px] bg-[#FF8C6D] block mr-[20px] "></span>media</p>
  <h2 class="all__gallry__header text-[32px] text-[#28272C] mt-[24px] mb-[24px] font-bold"> All Photo Gallery</h2>
  <div class="web">
    <div class="top">
      <div class="left">
        <img src="assets/images/image1.png" alt="" />
      </div>
      <div class="right">
        <div class="right-top">
          <img src="assets/images/image1.png" alt="" />
          <img src="assets/images/image1.png" alt="" />
        </div>
        <div class="right-bottom">
          <img src="assets/images/image1.png" alt="" />
        </div>
      </div>
    </div>
    <div class="mid">
      <img src="assets/images/image1.png" alt="" />
      <img src="assets/images/image1.png" alt="" />
      <img src="assets/images/image1.png" alt="" />
      <img src="assets/images/image1.png" alt="" />
      <img src="assets/images/image1.png" alt="" />
      <img src="assets/images/image1.png" alt="" />
    </div>
    <div class="bottom">
      <div class="bottom-left">
        <img src="assets/images/image1.png" alt="" />
        <img src="assets/images/image1.png" alt="" />
        <img src="assets/images/image1.png" alt="" />
        <img src="assets/images/image1.png" alt="" />
      </div>
      <div class="bottom-right">
        <img src="assets/images/image1.png" alt="" />
      </div>
    </div>
  </div>
  <div class="mobile">
    <div class="slide-1">
      <div class="top">
        <img src="assets/images/image1.png" alt="" />
        <img src="assets/images/image1.png" alt="" />
      </div>
      <div class="center">
        <img src="assets/images/image1.png" alt="" />
      </div>
      <div class="bottom">
        <img src="assets/images/image1.png" alt="" />
        <img src="assets/images/image1.png" alt="" />
      </div>
    </div>
    <div class="slide-2">
      <div class="top">
        <img src="assets/images/image1.png" alt="" />
        <img src="assets/images/image1.png" alt="" />
      </div>
      <div class="center">
        <img src="assets/images/image1.png" alt="" />
      </div>
      <div class="bottom">
        <img src="assets/images/image1.png" alt="" />
        <img src="assets/images/image1.png" alt="" />
      </div>
    </div>
    <div class="slide-3">
      <div class="top">
        <img src="assets/images/image1.png" alt="" />
        <img src="assets/images/image1.png" alt="" />
      </div>
      <div class="center">
        <img src="assets/images/image1.png" alt="" />
      </div>
      <div class="bottom">
        <img src="assets/images/image1.png" alt="" />
        <img src="assets/images/image1.png" alt="" />
      </div>
    </div>
  </div>
</div>
