
<section class="stracture  ">

    <div class="stracture__wrapper flex flex-col ml-[390px] mr-[390px]">



    <article class="stracture__wrapper__left flex  flex-col">
        <p class="stracture__wrapper__left__hedline font-semibold uppercase flex items-center tracking-[9.6px]"> <span class="stracture__wrapper__left__hedline--line h-[2px] w-[53px] mr-[20px] bg-[#FF8C6D] block"></span>{{title}}  </p>
        <h2 class="stracture__wrapper__left__header font-bold  text-[#28272C] text-[32px] mt-[24px] mb-[32px] ">{{holdigtitle}}</h2>
        <p class="stracture__wrapper__left__text  text-[18px] text-[#27262bb3]">{{holdingDescription}} </p>

    

    </article>

    <article class="stracture__wrapper__right">
         <a href="" class="stracture__wrapper__right__wrapper">
            <h1 class="stracture__wrapper__right__wrapper--header">{{foodtitle}} <span class="stracture__wrapper__right__wrapper--header--link">

                <img src="/assets/images/arrow.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image">    </span>
            </h1>
            <p class="stracture__wrapper__right__wrapper--text">{{foodDescription}} </p>
         </a>
         <a href="" class="stracture__wrapper__right__wrapper">
            <h1 class="stracture__wrapper__right__wrapper--header">{{toytitle}} <span class="stracture__wrapper__right__wrapper--header--link">
                <img src="/assets/images/arrow.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image">   
               </span>
            </h1>
            <p class="stracture__wrapper__right__wrapper--text">{{toyDescription}} </p>
         </a>
         <a href="" class="stracture__wrapper__right__wrapper">
            <h1 class="stracture__wrapper__right__wrapper--header">{{supermarketitle}} <span class="stracture__wrapper__right__wrapper--header--link">
                <img src="/assets/images/arrow.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image">    </span>

            </h1>
            <p class="stracture__wrapper__right__wrapper--text">{{supermarketDescription}} </p>
         </a>
         <a href="" class="stracture__wrapper__right__wrapper">
            <h1 class="stracture__wrapper__right__wrapper--header"> {{constructiontitle}} <span class="stracture__wrapper__right__wrapper--header--link">
                <img src="/assets/images/arrow.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image">    </span>

            </h1>
            <p class="stracture__wrapper__right__wrapper--text">{{constructionDescription}} </p>
         </a>
         <a href="" class="stracture__wrapper__right__wrapper">
            <h1 class="stracture__wrapper__right__wrapper--header">{{productiontitle}} <span class="stracture__wrapper__right__wrapper--header--link">
                <img src="/assets/images/arrow.png" alt="" class="stracture__wrapper__right__wrapper--header--link--image">    </span>

            </h1>
            <p class="stracture__wrapper__right__wrapper--text">{{productionDescription}} </p>
         </a>
    </article>

    </div>
</section>

