div{  
    max-width: 800px; 
    color: gray;
     margin: auto;
     } 
@media only screen and (max-width: 600px) { 
    div { margin-left: 15px;
         margin-right: 15px;
          font-size: x-small;
         }
 }