div{  
    max-width: 60%; 
    
    color: gray;
    //  position: absolut;
     margin: 8% 20%;
    
     } 
@media only screen and (max-width: 600px) { 
    div { max-width: 95%; 
        margin: 8% 2%;
          font-size: x-small;
         }
 }