<section>
    <div class="upside-backrgound-color-and-img">
       <div class="right-top-backround-color"></div>
       <img class="img-on-background" src="assets/images/for mobile.png" >
    </div>
    <div class="text-place">
        <b><p class="title">Inaugural ADM Food Safety Summit offers <br class="mobilebr"> outlook on emerging tools <br class="webbr"> for Food Safety<br class="mobilebr">   in Nigeria and Africa</p></b>
        <p class="text-place-large-info-date">20.03.2023</p>
        <p class="text-place-large-info ">
            When ADM Global Director of Food Safety Adeniyi Odugbemi, Ph.D., was having a conversation with the ADM Human Nutrition team about their engagement in the Nigeria market, the topic of food safety and quality was a key talking point among their customers. Understanding the importance of this subject, Odugbemi and his colleagues felt it was vital to bring the discussion to the forefront by launching their first food safety summit in Nigeria. <br> <br>

Following a planning process that only took 60 days, ADM's Quality and Food Safety Center of Excellence, in collaboration with the Human Nutrition business unit in Nigeria, hosted the conference on Oct. 28, 2022, in Ikeja, Lagos, themed "Unlocking Nature and Enriching Lives Through Food Safety." <br> <br>

When ADM Global Director of Food Safety Adeniyi Odugbemi, Ph.D., was having a conversation with the ADM Human Nutrition team about their engagement in the Nigeria market, the topic of food safety and quality was a key talking point among their customers. Understanding the importance of this subject, Odugbemi and his colleagues felt it was vital to bring the discussion to the forefront by launching their first food safety summit in Nigeria.<br> <br>

Following a planning process that only took 60 days, ADM's Quality and Food Safety Center of Excellence, in collaboration with the Human Nutrition business unit in Nigeria, hosted the conference on Oct. 28, 2022, in Ikeja, Lagos, themed "Unlocking Nature and Enriching Lives Through Food Safety."

When ADM Global Director of Food Safety Adeniyi Odugbemi, Ph.D., was having a conversation with the ADM Human Nutrition team about their engagement in the Nigeria market, the topic of food safety and quality was a key talking point among their customers. Understanding the importance of this subject, Odugbemi and his colleagues felt it was vital to bring the discussion to the forefront by launching their first food safety summit in Nigeria.<br> <br>

Following a planning process that only took 60 days, ADM's Quality and Food Safety Center of Excellence, in collaboration with the Human Nutrition business unit in Nigeria, hosted the conference on Oct. 28, 2022, in Ikeja, Lagos, themed "Unlocking Nature and Enriching Lives Through Food Safety."

When ADM Global Director of Food Safety Adeniyi Odugbemi, Ph.D., was having a conversation with the ADM Human Nutrition team about their engagement in the Nigeria market, the topic of food safety and quality was a key talking point among their customers. Understanding the importance of this subject, Odugbemi and his colleagues felt it was vital to bring the discussion to the forefront by launching their first food safety summit in Nigeria.<br> <br>

Following a planning process that only took 60 days, ADM's Quality and Food Safety Center of Excellence, in collaboration with the Human Nutrition business unit in Nigeria, hosted the conference on Oct. 28, 2022, in Ikeja, Lagos, themed "Unlocking Nature and Enriching Lives Through Food Safety."


        </p>
    </div>
</section>
