<article class="mainplace" >
    <div class="icons">
      <span class="point6">.</span>
      <span class="point">.</span>
      <span class="point2">.</span>
      <span class="point3">.</span>
      <span class="point4">.</span>
      <span class="point5">.</span>
      <span class="point7">.</span>
      <span class="point8">.</span>
      <span class="point9">.</span>
      <span class="point10">.</span>
      <span class="point11">.</span>
      <span class="point12">.</span>
      <span class="point13">.</span>
      <span class="point14">.</span>
      <span class="point15">.</span>
      <img class="item1" src="assets/images/Group.png" >
      <img class="item1" src="assets/images/Group.png" >
      <img src="assets/images/Group.png" >
      <img src="assets/images/Group.png" >
      <img src="assets/images/Group.png" >
      <img src="assets/images/Group.png" >
      <img src="assets/images/Group.png" >
      <img src="assets/images/Group.png" >
    </div>
    <div class="infoplace">
       <div class="title">
         <img class="line" src="assets/images/Rectangle.png" >
         <B><p class="maintext">EXPLORE OUR BRANDS</p></B>
       </div>
       <b><p class="smallinfo">Importing companies in different directions.</p></b>
       <p class="description">THC LTD represents an extensive array of companies and <br> brands.  Just the food segment alone includes up to 500  different products.</p>
       <div>
        <app-button type="blues" >Discover More</app-button>
       </div>
       

    </div>