<article class="mainplace" >
            
            

           <div *ngFor="let item of filteredCategoryData"
              class="main--desktop-version--category--filter-category--data--content w-full flex flex-col justify-center items-center"
            >
              <img [src]="item.img" />
              <a *ngIf="item.detailUrl">{{ item.detailUrl }}</a>
            </div>
            
    <div class="infoplace">
       <div class="title">
         <img class="line" src="assets/images/Rectangle.png" >
         <B><p class="maintext">EXPLORE OUR BRANDS</p></B>
       </div>
       <b><p class="smallinfo">Importing companies in <br> different directions.</p></b>
       <p class="description">THC LTD represents an extensive array of companies and <br> brands.  Just the food segment alone includes up to 500 <br> different products.</p>
       <div>
        <app-button type="blues" >Discover More</app-button>
       </div>
    </div>
</article>