.mainplace{
   
    display: flex;

}
.point{
            left:-4px ;
            top: -3px;
        }
.pointtwo{
  right:-4px ;
  top: -3px;
}
span{
  font-size: 1px solid black;
}
img{
  max-width: 70%;
  margin: auto;
}

.infoplace{
    display: flex;
    flex-direction: column;
    margin:0 70px ;
    justify-content: center;
   
}
img.line{
    width: 30px;
    height: 2px;
    margin: 0 !important;
    margin-right: 10px !important;
}
.title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.maintext{
    letter-spacing: 5px;
    font-size: 11px;
}
p.smallinfo{
    margin-bottom:20px ;
    font-size: 1.3rem;
}
.description{
    color: gray;
    font-size: 9px;
}
@media only screen and (max-width: 768px) {
 .mainplace{
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    max-height: auto;
 }

 
 

 .infoplace{
    margin: 10px;
    
 }
 .infoplace{
    margin: 10px;
 }
 img.line{
    width: 20px;
    height: 1.5px;
 }
 .maintext{
    letter-spacing: 5px;
    font-size: 12px;
    
 }
  p.smallinfo{
        font-size: 20px;
    }
    img.item1{
        display: none;
    }
    .icons{
        grid-template-columns: auto auto ;
        
    }
    img{
        margin-top: 30px;
    }
}
@media only screen and (max-width: 934px){
  
  .maintext{
    letter-spacing: 6px;
    font-size: 9px;
  }
  img.line{
    max-width: 30px;
  }
}
button{
    max-width: auto;
}