<article class="mainplace" >
            
           <div   >
             <div class="place flex flex-row" *ngFor="let item of categoryData">
              <img [src]="item.img" />
              <a *ngIf="item.detailUrl">{{ item.detailUrl }}</a></div>
             <span
              class="main--place--spans w-1 h-1 absolute top-0 left-0"
            ></span>
            <span
              class="main--place--spans w-1 h-1 absolute top-0 left-0"
            ></span>
            <span
              class="main--place--spans w-1 h-1 absolute top-0 left-0"
            ></span>
            <span
              class="main--place--spans  w-1 h-1 absolute top-0 left-0"
            ></span>
           </div>

            
    <div class="infoplace">
       <div class="title">
         <img class="line" src="assets/images/Rectangle.png" >
         <B><p class="maintext">EXPLORE OUR BRANDS</p></B>
       </div>
       <b><p class="smallinfo">Importing companies in <br> different directions.</p></b>
       <p class="description">THC LTD represents an extensive array of companies and <br> brands.  Just the food segment alone includes up to 500 <br> different products.</p>
       <div>
        <app-button type="blues" >Discover More</app-button>
       </div>
    </div>
</article>