.mainplace{
    display: flex;
    justify-content: space-around;
}
.menu {
    display: flex;
    width: 60%;
    margin-left: 50px;
    margin-top: 70px;  
    margin-bottom: 70px; 
    justify-content: space-between;
    flex-wrap: wrap;
    
    &--info {
      height: 200px;
      width: 190px;
      margin-top: -4px;
      margin-left: -4px;
      &--points {
        background: #28272c;
      }
      &--content {
        margin:  auto;
        img {
          width: 140px;
          height: 70px;
          display: inline-block;
          cursor: pointer;
        }
        a {
          margin-top: 71px;
          font-size: 14px;
          color: #5765fd;
          cursor: pointer;
        }
      }
    }
  }
  
  .mobile-version{
    display: flex;
  }
  @media screen and (max-width: 1160px){
      .menu {
        width: 650px ;
    &--info {
      height: 130px ;
      width: 148px ;
      &--content {
        margin:  auto;
        img {
          width: 100px;
          height: 39px;
        }
      }
    }
  }
  }
  @media screen and (max-width: 768px){
    .mobile-version{
        display: none !important;
    }
    .menu {
        margin-left: 20px ;
        width: 400px !important ;
         margin-left: 10px ;
         &--info {
      height: 180px;
      width: 200px;
      img {
          width: 125px;
          height: 50px;
        }
      }
   ainplace{
    display: flex;
    flex-direction: column-reverse;
    }
    .infoplace{
      margin-left: 20px !important;
    }
        .infoplace{
    margin: 15px  !important;
}
  }
  @media screen and (min-width: 350px) and (max-height:400) {
    .menu {
         &--info {
      height: 150px !important;
      width: 150px !important;
      }
    }
  }
  .mainplace{
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    max-height: auto;
 }
 
 
 .maintext{
    letter-spacing: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: absolute;
 }
  p.smallinfo{
        font-size: 20px;
    }
}
.infoplace{
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto 15px;
}
.title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.maintext{
    letter-spacing: 5px;
    font-size: 11px;
    text-align: center;
}

p.smallinfo{
    margin-bottom:15px ;
    margin-top: 10px;
    font-size: 1.45rem;
}
.description{
    color: gray;
    font-size: 13px;
}





      


