<section>
    <div class="mainplace">
        <div class="slider">
           <div>
             <img src="" >
             
           </div>
           <img src="" >
        </div>
      <div class="rightside">
         
      </div>
      <div class="leftside">
      </div>
      
    </div>
    <b> <p>THC LTD represents an extensive array of <br class="hide mobile-show">companies and brands. Just <br class="desktop-show"> the food <br class="hide mobile-show">segment alone includes up to 500 <br class="hide mobile-show"> different products.</p>
    </b>
</section>
