<section
  class="statistics flex justify-between mr-[100px] ml-[100px] mt-[160px] mb-[146px]"
>
  <article class="statistics__left flex flex-col mr-[50px]">
    <p
      class="statistics__left__hedline uppercase text-[#28272C] flex items-center font-semibold tracking-[9.6px]"
    >
      <span
        class="statistics__left__hedline__line w-[53px] h-[2px] bg-[#FF8C6D] block mr-[20px]"
      ></span
      >{{ pageData?.sectionTitle }}
    </p>
    <h2
      class="statistics__left__header text-[32px] text-[#28272C] mt-[24px] mb-[24px] font-bold"
    >
      {{ pageData?.title }}
    </h2>
    <p
      class="statistics__left__text max-w-[777px] text-[#28272cb3] text-[18px]"
    >
      {{ pageData?.description }}
    </p>
    <app-button class="statistics__left__button mt-[24px]" type="oranges"
      >discover more</app-button
    >
  </article>

  <main></main>
  <div class="statistics__right">
    <div class="statistics__right__wrapper">
      <div
        class="statistics__right__wrapper__block"
        *ngFor="let item of pageData?.statistics"
      >
        <div class="statistics__right__wrapper__block--wrapper">
          <p class="statistics__right__wrapper__block--wrapper--number">
            {{ item.title }}
          </p>
          <span class="statistics__right__wrapper__block--wrapper--text">{{
            item.description
          }}</span>
        </div>

        <span
          class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D]"
        ></span>
        <span
          class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D]"
        ></span>
        <span
          class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D]"
        ></span>
        <span
          class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D]"
        ></span>
      </div>
    </div>
  </div>
</section>
