<section class="statistics flex justify-between mr-[100px] ml-[100px]  mt-[160px] mb-[146px] " >
    <article class="statistics__left flex flex-col mr-[50px]"> 
     <p class="statistics__left__hedline uppercase text-[#28272C] flex items-center font-semibold tracking-[9.6px]">
         <span class="statistics__left__hedline__line w-[53px] h-[2px] bg-[#FF8C6D] block mr-[20px] "></span>statistics</p>
       <h2 class="statistics__left__header text-[32px] text-[#28272C] mt-[24px] mb-[24px] bold"> Network and Partnerships</h2>
       <p class="statistics__left__text max-w-[777px] text-[#28272cb3]  text-[18px]">Our company has a vast network of shop locations and distribution centers, with partnerships with numerous reputable brands. With our extensive reach, we are able to provide our clients with a wide range of products and efficient delivery services.</p>
         <!-- <button class="statistics__left__button capitalize w-[191px] h-[52px] text-[#FFFFFD] bg-[#FF8C6D] mt-[24px]">discover more</button> -->
         <app-button class="statistics__left__button mt-[24px]" type="oranges">discover more</app-button>


    </article>

  <main>


  </main>
    <div class="statistics__right ">

<div class="statistics__right__wrapper">

        <div class="statistics__right__wrapper__block  "> 
               <div class="statistics__right__wrapper__block--wrapper">
                      <p class="statistics__right__wrapper__block--wrapper--number " >245</p>
                      <span class="statistics__right__wrapper__block--wrapper--text">shop locations</span>
               </div>
             
               <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
               <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
               <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
               <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
             
        </div>
        <div class="statistics__right__wrapper__block  "> 
            <div class="statistics__right__wrapper__block--wrapper">
                   <p class="statistics__right__wrapper__block--wrapper--number " >79</p>
                   <span class="statistics__right__wrapper__block--wrapper--text">distribution centers</span>
            </div>
          
            <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
            <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
            <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
            <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
          
     </div>


    

     <div class="statistics__right__wrapper__block  "> 
        <div class="statistics__right__wrapper__block--wrapper">
               <p class="statistics__right__wrapper__block--wrapper--number " >52</p>
               <span class="statistics__right__wrapper__block--wrapper--text">partner brands</span>
        </div>
      
        <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
        <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
        <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
        <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
      
 </div>
 <div class="statistics__right__wrapper__block  "> 
    <div class="statistics__right__wrapper__block--wrapper">
           <p class="statistics__right__wrapper__block--wrapper--number " >456</p>
           <span class="statistics__right__wrapper__block--wrapper--text">shop locations</span>
    </div>
  
    <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
    <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
    <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
    <span class="statistics__right__wrapper__block--dot w-[4px] h-[4px] absolute bg-[#FF8C6D] "  ></span>
  
</div>

       
</div>
    </div>

</section>