.media__gallery__wrapper__link::before{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    // background-color: #5765fc33;
    z-index: 1;
    background: #ffffff29;
    backdrop-filter: blur(7px);
}
.media__gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: none;
    scrollbar-width: thin;
    &__image{
      flex: 0 0 auto;
      width: 270px;
      height: 270px;
    }
  }
.media__gallery__image:nth-of-type(2){
    margin: 0 14px ; 
}
.media__gallery__image:nth-of-type(3){
    margin-right:  14px ;
    
}


// რესფონსივი

@media (max-width:1680px) {
    .media{
        margin:0  260px ;
    }

}

@media (max-width:1280px) {
    .media{
        margin:0  150px ;
    }
    .stracture__wrapper__left__hedline{
        font-size: 16px;
        &--line{
            width: 24px;
            height: 2px;
            margin-right: 14px;
        }
    }
    .stracture__wrapper__left__header{
        font-size: 24px;
        margin: 12px 0 20px;
    }
}

@media (max-width:1024px) {
    .media{
        margin:0  60px ;
    }
    .stracture__wrapper__left__hedline{
        font-size: 16px;
        &--line{
            width: 22px;
            height: 1px;
            margin-right: 14px;
        }
    }
    .stracture__wrapper__left__header{
        font-size: 24px;
        margin: 12px 0 20px;
    }

    .media__gallery__image:nth-of-type(2){
        margin: 0 14px ;
        
    }
    .media__gallery__image:nth-of-type(3){
        margin-right:  14px ;
        
    }
}
@media (max-width:860px) {
    .media{
        margin:0  30px ;
    }
    .stracture__wrapper__left__hedline{
        font-size: 14px;
        &--line{
            width: 20px;
            height: 1px;

        }
    }

    .media__gallery__image:nth-of-type(2){
        margin: 0 12px ;
        
    }
    .media__gallery__image:nth-of-type(3){
        margin-right:  12px ;
        
    }
}

@media (max-width:600px) {
    .media{
        margin:0  16px ;
    }
    .stracture__wrapper__left__hedline{
        font-size: 12px;
        &--line{
            width: 20px;
            margin-right: 8px;
        }
    }

    .media__gallery__image:nth-of-type(2){
        margin: 0 8px ;
        
    }
    .media__gallery__image:nth-of-type(3){
        margin-right:  8px ;
        
    }
}