.Distributioncenter{
    display: flex;
    margin: auto;
}
@media only screen and (max-width: 768px) {
    img.web{
        display: none;
    }
    
    .Distributioncenter{
        display: flex;
        flex-direction: column;
      }
      img.mobile{
        width: 100%!important;
        object-fit: cover;
      }
    
  }
  @media only screen and (min-width: 769px) {
      img.mobile{
        display: none;
      }
     
  }